<footer class="mt-auto px-6 sm:px-4 lg:px-[15vh]">

  <hr class="border-blue-300 my-[1rem]">

  <div class="flex flex-wrap items-center justify-between">

    <div class="w-full sm:w-1/2 md:w-1/4 xl:w-1/4 flex items-center">
      <a href="/" class="flex items-center text-blue-700 font-bold texto-media">
        <i class="fas fa-shield-alt mr-2 text-[1.5rem] texto-media"></i> Jornadas Ciber
      </a>
    </div>

    <div class="sm:hidden md:w-2/4 xl:w-2/4 justify-center text-center">
      <ul class="flex space-x-8 justify-center text-center">
        <li><a href="/" class="text-menu-color-blue hover:text-menu-hover-blue font-bold texto-media">Portada</a></li>
        <li><a href="./participantes.html" class="text-menu-color-blue hover:text-menu-hover-blue font-bold texto-media">Participantes</a></li>
        <li><a href="./jornadas.html" class="text-menu-color-blue hover:text-menu-hover-blue font-bold texto-media">Jornadas</a></li>
        <li><a href="./contacto.html" class="text-menu-color-blue hover:text-menu-hover-blue font-bold texto-media">Contacto</a></li>
      </ul>
    </div>

    <div class="w-full sm:w-1/2 md:w-1/4 xl:w-1/4 text-end md:mt-0">
      <ul class="flex justify-end space-x-4">
        <li>
          <a href="https://plus.google.com" target="_blank" class="text-blue-700 ">
            <i class="fab fa-google-plus text-xl"></i>
          </a>
        </li>
        <li>
          <a href="https://facebook.com" target="_blank" class="text-blue-700 ">
            <i class="fab fa-facebook-f text-xl"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com" target="_blank" class="text-blue-700 ">
            <i class="fab fa-twitter text-xl"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <hr class="border-blue-300 mt-4">

  <div class="text-center text-menu-color-blue hover:text-menu-hover-blue font-bold text-base mt-4">
    <p class="m-[16px] texto-media">PEC3: Luis Francisco Blanco Cadavid</p>
    <p class="m-[16px] texto-media">&copy; Universitat Oberta de Catalunya</p>
  </div>
</footer>
