<header class="px-navbar-px-xs md:px-navbar-px-md lg:px-navbar-px-lg">
    <nav class="bg-transparent py-navbar-py">
        <div class="flex items-center space-between sm:justify-between lg:justify-between px-[12px]">
            <a class="flex items-center text-menu-mobile md:text-menu-tablet lg:text-menu xs:font-black font-bold text-menu-color-blue hover:text-menu-hover-blue" href="/">
                <i class="fas fa-shield-alt mr-2 text-[1.5rem]"></i>
                Jornadas Ciber
            </a>
            <button class="border-none items-center block md:hidden lg:hidden focus:outline-none px-[12px] py-[4px]" type="button">
                <span class="filter brightness-[0.5] fas fa-bars text-[1.75rem] text-gray-100"></span>
            </button>
            <div class="sm:hidden justify-end" id="navbarNav">
                <div class="flex flex-row gap-4">
                    <a class="p-[8px] text-menu-mobile md:text-menu-tablet lg:text-menu font-bold text-menu-color-blue hover:text-menu-hover-blue hover:underline" href="/">Portada</a>
                    <a class="p-[8px] text-menu-mobile md:text-menu-tablet lg:text-menu font-bold text-menu-color-blue hover:text-menu-hover-blue hover:underline" href="./participantes.html">Participantes</a>
                    <a class="p-[8px] text-menu-mobile md:text-menu-tablet lg:text-menu font-bold text-menu-color-blue hover:text-menu-hover-blue hover:underline" href="./jornadas.html">Jornadas</a>
                    <a class="p-[8px] text-menu-mobile md:text-menu-tablet lg:text-menu font-bold text-menu-color-blue hover:text-menu-hover-blue hover:underline" href="./contacto.html">Contacto</a>
                </div>
            </div>
        </div>
    </nav>
</header>